<table class="table table-bordered">
  <tr>
    <td>
      名前
    </td>
    <td>
      <%= end_user.last_name + " " + end_user.first_name %>
    </td>
  </tr>

  <tr>
    <td>
      フリガナ
    </td>
    <td>
      <%= end_user.last_name_kana + " " + end_user.first_name_kana %>
    </td>
  </tr>

  <tr>
    <td>
      性別
    </td>
    <td>
      <%= end_user.sex %>
    </td>
  </tr>

  <tr>
    <td>
      生年月日
    </td>
    <td>
      <%= end_user.birthday %>
    </td>
  </tr>

  <tr>
    <td>
      メールアドレス
    </td>
    <td>
      <%= end_user.email %>
    </td>
  </tr>

  <tr>
    <td>
      電話番号
    </td>
    <td>
      <%= end_user.telephone_number %>
    </td>
  </tr>

  <tr>
    <td>
      住所
    </td>
    <td>
      <%= end_user.postal_code + " " + end_user.address %>
    </td>
  </tr>
</table>