<div class="d-flex justify-content-start">
  <!--メニューボダン-->
  <%= render 'menu'%>

  <!--診察予約履歴一覧  -->
  <div>
    <% @reservations.each do |reservation| %>
      <%#= render 'admin/hospitals/hospital-information', hospital: @hospital %>
      <div class="hospital-box border m-5 p-2 d-flex flex-row">
      <div class="hospital-image">
        <%= link_to public_hospital_path(reservation.hospital.id) do %>
          <%= image_tag reservation.hospital.get_hospital_image(200,300) %>
        <% end %>
      </div>

      <div class="hospital_details pl-2">
        <div class="reseravation border bg-light">
          <%= reservation.hospital.reservations.where(end_user_id: current_end_user.id).order(created_at: :DESC).first.status_i18n %>
          <% if reservation.status == "accepted" %>
            <%= reservation.hospital.reservations.where(reservations: { status: :accepted }).count %>番目
          <% else %>

          <% end %>
        </div>
        <table class="hospital_details-table table table-bordered">
          <tr>
            <td>病院名</td>
            <td>
              <%= link_to public_hospital_path(reservation.hospital.id) do %>
                <%= reservation.hospital.name %>
              <% end %>
            </td>
          </tr>

          <tr>
            <td>診療科</td>
            <td>
              <% reservation.hospital.clinical_departments.each do |clinical_department| %>
          　　  <%= clinical_department.name %>
          　　  <% end %>
            </td>
          </tr>

      　　<tr>
            <td>住所</td>
            <td><%= "〒" + reservation.hospital.postal_code + " " + reservation.hospital.address %></td>
      　　</tr>
      　</table>

      </div>
    </div>
    <% end %>
  </div>
</div>

<%#= paginate @hospitals %>

<div class="d-flex justify-content-center">
  <%= link_to "戻る", 'javascript:history.back()', class:"btn btn-light" %>
</div>