<div class="d-flex justify-content-around">
  <div>
    <%= link_to 'ユーザー一覧', admin_end_users_path, class:"btn btn-outline-success" %>
  </div>
  <div>
    <%= link_to '病院一覧',admin_hospitals_path, class:"btn btn-outline-success" %>
  </div>
  <div>
    <%= link_to '病院を追加する',new_admin_hospital_path, class:"btn btn-outline-success" %>
  </div>
  <div>
    <%= link_to '診療科一覧',admin_clinical_departments_path, class:"btn btn-outline-success" %>
  </div>
  <div>
    <%= link_to '診療科を追加する',new_admin_clinical_department_path, class:"btn btn-outline-success" %>
  </div>
  
  
  
</div>