<div class="d-flex justify-content-center">
  <%= form_with model:hospital, url: url do |f| %>
    <table class="table">
      <tr>
        <td>
          <%= f.label :病院画像 %>
        </td>
        <td>
          <%= f.file_field :hospital_image, placeholder: "病院画像", accept: "image/*" %>
        </td>
      </tr>

      <tr>
        <td>
          <%= f.label :病院名 %>
        </td>
        <td>
          <%= f.text_field :name, placeholder: "病院名", accept: "name" %>
        </td>
      </tr>

      <tr>
        <td>
          <%= f.label :電話番号 %>
        </td>
        <td>
          <%= f.text_field :telephone_number, placeholder: "電話番号", accept: "telephone_number" %>
        </td>
      </tr>

      <tr>
        <td>
          <%= f.label :郵便番号（ハイフンなし） %>
        </td>
        <td>
          <%= f.text_field :postal_code, placeholder: "郵便番号", accept: "postal_code" %>
        </td>
      </tr>

      <tr>
        <td>
          <%= f.label :住所 %>
        </td>
        <td>
          <%= f.text_field :address, placeholder: "住所", accept: "address", style:"width: 400px;" %>
        </td>
      </tr>

      <tr>
        <td>
          <%= f.label :ホームページURL %>
        </td>
        <td>
          <%= f.text_field :home_page, placeholder: "URL", accept: "home_page", style:"width: 400px;" %>
        </td>
      </tr>

      <tr>
        <td>
          診療科
        </td>
        <td>
          <%= f.collection_check_boxes(:clinical_department_ids, ClinicalDepartment.all, :id, :name) do |clinical_department| %>
            <%= clinical_department.check_box %>
            <%= clinical_department.text %>
          <% end %>
        </td>
      </tr>
    </table>
    <table class="table table-bordered">
      <tr class="table-primary">
        <th> </th>
        <th>診察開始時間</th>
        <th>診察終了時間</th>
        <th>月</th>
        <th>火</th>
        <th>水</th>
        <th>木</th>
        <th>金</th>
        <th>土</th>
        <th>日</th>
        <th>祝日</th>
      </tr>
      <tr>
        <td>午前</td>
        <td><%= f.time_select :am_start_time %></td>
        <td><%= f.time_select :am_end_time %></td>
        <td><%= f.select :monday_am, [["◯", "◯"], ["✕", "✕"]]  %></td>
        <td><%= f.select :tuesday_am, [["◯", "◯"], ["✕", "✕"]]  %></td>
        <td><%= f.select :wednesday_am, [["◯", "◯"], ["✕", "✕"]]  %></td>
        <td><%= f.select :thursday_am, [["◯", "◯"], ["✕", "✕"]]  %></td>
        <td><%= f.select :friday_am, [["◯", "◯"], ["✕", "✕"]]  %></td>
        <td><%= f.select :saturday_am, [["◯", "◯"], ["✕", "✕"]]  %></td>
        <td><%= f.select :sunday_am, [["◯", "◯"], ["✕", "✕"]]  %></td>
        <td><%= f.select :holiday_am, [["◯", "◯"], ["✕", "✕"]]  %></td>
      </tr>
      <tr>
        <td>午後</td>
        <td><%= f.time_select :pm_start_time %></td>
        <td><%= f.time_select :pm_end_time %></td>
        <td><%= f.select :monday_pm, [["◯", "◯"], ["✕", "✕"]]  %></td>
        <td><%= f.select :tuesday_pm, [["◯", "◯"], ["✕", "✕"]]  %></td>
        <td><%= f.select :wednesday_pm, [["◯", "◯"], ["✕", "✕"]]  %></td>
        <td><%= f.select :thursday_pm, [["◯", "◯"], ["✕", "✕"]]  %></td>
        <td><%= f.select :friday_pm, [["◯", "◯"], ["✕", "✕"]]  %></td>
        <td><%= f.select :saturday_pm, [["◯", "◯"], ["✕", "✕"]]  %></td>
        <td><%= f.select :sunday_pm, [["◯", "◯"], ["✕", "✕"]]  %></td>
        <td><%= f.select :holiday_pm, [["◯", "◯"], ["✕", "✕"]]  %></td>
      </tr>
    </table>
    <div class="d-flex justify-content-around">
      <%= f.submit submit, class: "btn btn-primary" %>
      <%= link_to "戻る", 'javascript:history.back()', class:"btn btn-light" %>
     </div>
  <% end %>
</div>
