<div class="hospital-box">
  <div class="hospital-image">
    <%= image_tag @hospital.get_hospital_image(300,400) %>
  </div>

  <table class="hospital_details-table table table-bordered">
    <tr>
      <td class="table-head">病院名</td>
      <td><%= @hospital.name %></td>
    </tr>

    <tr>
      <td class="table-head">診療科</td>
      <td>
    　　  <% @hospital.clinical_departments.each do |clinical_department| %>
    　　  <%= clinical_department.name %>
    　　  <% end %>
      </td>
    </tr>

　　<tr>
      <td class="table-head">住所</td>
      <td><%= "〒" + @hospital.postal_code + " " + @hospital.address %></td>
　　</tr>

　　<tr>
      <td class="table-head">ホームページ</td>
      <td><%= @hospital.home_page %></td>
　　</tr>
　</table>

</div>