<div class="hospital-container">
  <!--病院詳細----------------------------------------->
  <div class="hospital-box">
    <div class="hospital-upper">
      <h6 class="hospital-name"><%= @hospital.name %></h6>
    </div>
    <div class="hospital-lower">
      <div class="hospital-image">
        <%= image_tag @hospital.get_hospital_image(300,400) %>
      </div>
      <div class="hospital-right">
        <p>ただいま<strong class="text-danger"><%= hospital.reservations.where(reservations: { status: :accepted }).count %>人待ち</strong>です。</p>
        <ul class="hospital-details">
          <li>
            <i class="fa-solid fa-location-dot hospital-detail-icon"></i>
            <%= "〒" + @hospital.postal_code + " " + @hospital.address %>
          </li>
          <li>
            <i class="fa-solid fa-phone hospital-detail-icon"></i>
            <%= @hospital.telephone_number %>
          </li>
          <li>
            <i class="fa-solid fa-stethoscope hospital-detail-icon"></i>
            <% @hospital.clinical_departments.each do |clinical_department| %>
              <span class="clinical-departments-name"><%= clinical_department.name %></span>
            <% end %>
          </li>
        </ul>
      </div>
  　</div>
  </div>
  
  <!--診察時間----------------------------------------------->
  <table class="table table-bordered time-infomation" >
      <tr class="table-primary">
        <th> </th>
        <th>診察開始時間</th>
        <th>診察終了時間</th>
        <th>月</th>
        <th>火</th>
        <th>水</th>
        <th>木</th>
        <th>金</th>
        <th>土</th>
        <th>日</th>
        <th>祝日</th>
      </tr>
      <tr>
        <td>午前</td>
        <td><%= l @hospital.am_start_time, format: :short %></td>
        <td><%= l @hospital.am_end_time, format: :short %></td>
        <td><%= @hospital.monday_am %></td>
        <td><%= @hospital.tuesday_am %></td>
        <td><%= @hospital.wednesday_am %></td>
        <td><%= @hospital.thursday_am %></td>
        <td><%= @hospital.friday_am %></td>
        <td><%= @hospital.saturday_am %></td>
        <td><%= @hospital.sunday_am %></td>
        <td><%= @hospital.holiday_am %></td>
      </tr>
      <tr>
        <td>午後</td>
        <td><%= l @hospital.pm_start_time, format: :short %></td>
        <td><%= l @hospital.pm_end_time, format: :short %></td>
        <td><%= @hospital.monday_pm %></td>
        <td><%= @hospital.tuesday_pm %></td>
        <td><%= @hospital.wednesday_pm %></td>
        <td><%= @hospital.thursday_pm %></td>
        <td><%= @hospital.friday_pm %></td>
        <td><%= @hospital.saturday_pm %></td>
        <td><%= @hospital.sunday_pm %></td>
        <td><%= @hospital.holiday_pm %></td>
      </tr>
    </table>

    <!--モバイル用診察時間-->
    <div class="time-infomation-mobile">
      <h4>診察時間</h4>
      <p>午前 <%= l @hospital.am_start_time, format: :short%>~<%= l @hospital.am_end_time, format: :short %></p>
      <p>午後 <%= l @hospital.am_start_time, format: :short %>~<%= l @hospital.pm_end_time, format: :short %></p>
      <table class="table table-bordered time-table-mobile">
        <tr class="table-primary">
          <th class="time-table-mobile-head">月</th>
          <th class="time-table-mobile-head">火</th>
          <th class="time-table-mobile-head">水</th>
          <th class="time-table-mobile-head">木</th>
          <th class="time-table-mobile-head">金</th>
          <th class="time-table-mobile-head">土</th>
          <th class="time-table-mobile-head">日</th>
          <th class="time-table-mobile-head">祝日</th>
        </tr>
        <tr>
          <td><%= @hospital.monday_am %></td>
          <td><%= @hospital.tuesday_am %></td>
          <td><%= @hospital.wednesday_am %></td>
          <td><%= @hospital.thursday_am %></td>
          <td><%= @hospital.friday_am %></td>
          <td><%= @hospital.saturday_am %></td>
          <td><%= @hospital.sunday_am %></td>
          <td><%= @hospital.holiday_am %></td>
        </tr>
        <tr>
          <td><%= @hospital.monday_pm %></td>
          <td><%= @hospital.tuesday_pm %></td>
          <td><%= @hospital.wednesday_pm %></td>
          <td><%= @hospital.thursday_pm %></td>
          <td><%= @hospital.friday_pm %></td>
          <td><%= @hospital.saturday_pm %></td>
          <td><%= @hospital.sunday_pm %></td>
          <td><%= @hospital.holiday_pm %></td>
        </tr>
      </table>
      
    </div>
  </div>
</div>