<table class="table table-bordered">
  <tr>
    <th>ユーザーID</th>
    <th>名前</th>
    <th>フリガナ</th>
    <th>ステータス</th>
  </tr>
  <% @end_users.each do |end_user| %>
  <tr>
    <td>
      <%= end_user.id %>
    </td>
    <td>
      <%= link_to admin_end_user_path(end_user) do %>
        <%= end_user.last_name + " " + end_user.first_name %>
      <% end %>
    </td>
    <td>
      <%= end_user.last_name_kana + " " + end_user.first_name_kana %>
    </td>
    <td>
      <%= end_user.is_deleted ? '退会' : '有効' %>
    </td>
  </tr>
  <% end %>
</table>

<div class="center-block">
   <%= paginate @end_users %>
</div>