<div class="hospital-container">
  <%= render 'public/hospitals/search', q: @q, url: public_hospitals_path %>
  <% @hospitals.each do |hospital| %>
    <%#= render 'admin/hospitals/hospital-information', hospital: @hospital %>
    <div class="hospital-box">
      <div class-"hospital-upper">
        <h6 class="inline">
          <%= link_to public_hospital_path(hospital.id) do %>
            <%= hospital.name %>
          <% end %>
        </h6>
      </div>
      <div class="hospital-lower">
        <div class="hospital-image">
          <%= link_to public_hospital_path(hospital.id) do %>
            <%= image_tag hospital.get_hospital_image(300,400) %>
          <% end %>
        </div>
        <div class="hospital-right">
          <p>ただいま<strong class="text-danger"><%= hospital.reservations.where(reservations: { status: :accepted }).count %>人待ち</strong>です。</p>
          <table class="table">
            <tr>
              <td class="table-head">診療科</td>
              <td>
                <% hospital.clinical_departments.each do |clinical_department| %>
            　　<span><%= clinical_department.name %></span>
            　　  <% end %>
              </td>
            </tr>
    
        　　<tr>
              <td class="table-head">住所</td>
              <td><%= "〒" + hospital.postal_code + " " + hospital.address %></td>
        　　</tr>
        　</table>
      　</div>
      </div>
    </div>
  <% end %>


</div>
<%= paginate @hospitals %>