<div class="hospital-container">
  <%= render 'public/hospitals/search', q: @q, url: public_hospitals_path %>
  <% @hospitals.each do |hospital| %>
    <%#= render 'admin/hospitals/hospital-information', hospital: @hospital %>
    <div class="hospital-box">
      <div class="hospital-image">
        <%= link_to public_hospital_path(hospital.id) do %>
          <%= image_tag hospital.get_hospital_image(200,300) %>
        <% end %>
      </div>

    <table class="table table-bordered">
      <tr>
        <td class="table-head">病院名</td>
        <td>
          <%= link_to public_hospital_path(hospital.id) do %>
            <%= hospital.name %>
          <% end %>
        </td>
      </tr>

      <tr>
        <td class="table-head">診療科</td>
        <td>
          <% hospital.clinical_departments.each do |clinical_department| %>
      　　  <%= clinical_department.name %>
      　　  <% end %>
        </td>
      </tr>

  　　<tr>
        <td class="table-head">住所</td>
        <td><%= "〒" + hospital.postal_code + " " + hospital.address %></td>
  　　</tr>
  　</table>

  </div>
  <% end %>


</div>
<%= paginate @hospitals %>