<div class="hospital-container">
  <%= render 'public/hospitals/search', q: @q, url: public_hospitals_path %>
  <% @hospitals.each do |hospital| %>
    <div class="hospital-box">
      <div class-"hospital-upper">
        <h6 class="inline">
          <%= link_to public_hospital_path(hospital.id) do %>
            <%= hospital.name %>
          <% end %>
        </h6>
      </div>
      <div class="hospital-lower">
        <div class="hospital-image">
          <%= link_to public_hospital_path(hospital.id) do %>
            <%= image_tag hospital.get_hospital_image(300,400) %>
          <% end %>
        </div>
        <div class="hospital-right">
          <p>ただいま<strong class="text-danger"><%= hospital.reservations.where(reservations: { status: :accepted }).count %>人待ち</strong>です。</p>
          <ul class="hospital-details">
            <li>
              <i class="fa-solid fa-location-dot hospital-detail-icon"></i>
              <%= "〒" + hospital.postal_code + " " + hospital.address %>
            </li>
            <li>
              <i class="fa-solid fa-phone hospital-detail-icon"></i>
              <%= hospital.telephone_number %>
            </li>
            <li>
              <i class="fa-solid fa-stethoscope hospital-detail-icon"></i>
              <% hospital.clinical_departments.each do |clinical_department| %>
                <span class="clinical-departments-name"><%= clinical_department.name %></span>
              <% end %>
            </li>
          </ul>
      　</div>
      </div>
    </div>
  <% end %>


</div>
<%= paginate @hospitals %>