 <nav class="navbar navbar-expand-lg">
   <div class="container border-bottom">
     <a class="navbar-brand" href="/">
        <span>reserpital</span>
     </a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <%= render 'public/hospitals/search', q: @q, url: public_hospitals_path %>
          <ul class="navbar-nav ml-auto">
            <% if admin_signed_in? %>
              <!--ユーザー一覧-->
              <li class="ml-2 mr-2">
                <%= link_to admin_end_users_path do %>
                  <i class="fas fa-users"></i>
                <% end %>
              </li>
              <!--病院一覧-->
              <li class="ml-2 mr-2">
                <%= link_to admin_hospitals_path do %>
                  <i class="fas fa-hospital-alt"></i>
                <% end %>
              </li>
              <!--診療科一覧-->
              <li class="ml-2 mr-2">
                <%= link_to admin_clinical_departments_path do %>
                  <i class="fas fa-hospital-symbol"></i>
                <% end %>
              </li>
              <!--病院を追加-->
              <li class="ml-2 mr-2">
                <%= link_to new_admin_hospital_path do %>
                  <i class="far fa-plus-square"></i>
                <% end %>
              </li>
              <!--ログアウト-->
              <li class="ml-2 mr-2">
                <%= link_to destroy_admin_session_path, method: :delete do %>
                  <i class="fas fa-sign-out-alt"></i>
                <% end %>
              </li>
            <% elsif owner_signed_in? %>
              <!--診察予約一覧-->
              <li class="ml-2 mr-2">
                <%#= link_to  do %>
                  <i class="fas fa-hospital-user"></i>
                <%# end %>
              </li>
              <!--ログアウト-->
              <li class="ml-2 mr-2">
                <%= link_to destroy_owner_session_path, method: :delete do %>
                  <i class="fas fa-sign-out-alt"></i>
                <% end %>
              </li>
            <% elsif end_user_signed_in? %>
              <!--病院を探す-->
              <li class="ml-2 mr-2">
                <%= link_to public_hospitals_path do %>
                  <i class="fas fa-search"></i>
                <% end %>
              </li>
              <!--マイページ-->
              <li class="ml-2 mr-2">
                <%= link_to public_end_users_path do %>
                  <i class="fas fa-user-circle"></i>
                <% end %>
              </li>
              <!--ログアウト-->
              <li class="ml-2 mr-2">
                <%= link_to destroy_end_user_session_path, method: :delete do %>
                  <i class="fas fa-sign-out-alt"></i>
                <% end %>
              </li>
            <% else %>
              <!--病院を探す-->
              <li class="ml-2 mr-2">
                <%= link_to public_hospitals_path do %>
                  <i class="fas fa-search"></i>
                <% end %>
              </li>
              <!--新規会員登録-->
              <li class="ml-2 mr-2">
                <%= link_to new_end_user_registration_path do %>
                  <i class="fas fa-user-plus"></i>
                <% end %>
              </li>
              <!--ログイン-->
              <li class="ml-2 mr-2">
                <%= link_to new_end_user_session_path do %>
                  <i class="fas fa-sign-in-alt"></i>
                <% end %>
              </li>
            <% end %>
          </ul>
  </div>

</nav>