 <nav class="navbar navbar-expand-lg">
   <div class="container border-bottom">
     <a class="navbar-brand" href="/">
        <span>reserpital</span>
     </a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <% if admin_signed_in? %>
              <li><%= link_to 'ユーザー一覧',admin_end_users_path, class:"btn btn-outline-success" %> </li>
              <li><%= link_to '病院一覧',admin_hospitals_path, class:"btn btn-outline-success" %></li>
              <li><%= link_to '病院を追加',new_admin_hospital_path, class:"btn btn-outline-success" %></li>
              <li><%= link_to '診療科一覧',admin_clinical_departments_path, class:"btn btn-outline-success" %></li>
              <li><%= link_to '診療科を追加',new_admin_clinical_department_path, class:"btn btn-outline-success" %></li>
              <li><%= link_to 'ログアウト',destroy_admin_session_path, method: :delete, class:"btn btn-outline-success"  %></li>
            <% elsif owner_signed_in? %>
              <li><%= link_to '診察予約一覧',owner_root_path, class:"btn btn-outline-success" %></li>
              <li><%= link_to 'ログアウト',destroy_owner_session_path, method: :delete, class:"btn btn-outline-success"  %></li>
            <% elsif end_user_signed_in? %>
               <li><%= link_to '病院を探す',public_hospitals_path, class:"btn btn-outline-success" %></li>
              <li><%= link_to 'マイページ',public_end_users_path, class:"btn btn-outline-success" %></li>
              <li><%= link_to 'ログアウト',destroy_end_user_session_path, method: :delete, class:"btn btn-outline-success"  %></li>
            <% else %>
              <li><%= link_to '病院を探す',public_hospitals_path, class:"btn btn-outline-success" %></li>
              <li><%= link_to '新規登録',new_end_user_registration_path, class:"btn btn-outline-success" %></li>
              <li><%= link_to 'ログイン',new_end_user_session_path, class:"btn btn-outline-success" %></li>
            <% end %>
          </ul>
  </div>
</nav>